.right-img-section .left {
    padding-left: 5%;
}


@media screen and (max-width: 992px) {
    .right-img-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .right-img-section .left {
        padding-left: 0;
    }
}