#navbar {
    position: fixed;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%); */
    width: 100%;
    height: 60px;
    padding: var(--main-padding);
}

.nav-brand {
    width: 15%;
}

.nav-brand a {
    text-decoration: none;
    color: var(--main-color);
}

.menu-icon {
    display: none;
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    list-style-type: none;
}

.close-icon {
    display: none;
}

.nav-ul li:not(:last-child) {
    margin-right: 20px;
}

.nav-ul .nav-link {
    text-decoration: none;
    color: var(--nav-light-text);
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    font-size: 15px;
}

.nav-link:hover {
    border-bottom: 1px solid var(--main-color);
}

.nav-ul .active {
    border-bottom: 1px solid var(--main-color);
}

.search-links-container {
    display: flex;

    width: 85%;
}

.search {
    width: 30%;
    text-align: right;
}

.search > div {
    position: relative;
}

.search input {
    width: 100%;
    padding: 9px 15px;
    border-radius: 30px;
    border: 1px solid var(--light-border);
    background-color: var(--light-bg);
    color: var(--nav-dark-text);
}

.search input:focus {
    outline: none;
}

.search button {
    position: absolute;
    right: 3px;
    top: 3px;

    padding: 6px 15px;
    border-radius: 30px;
    border: none;
    background-color: var(--main-color);
    color: var(--nav-dark-text);
    cursor: pointer;
}

.search .search-icon {
    font-size: 16px;
    color: var(--nav-light-text);
}

.theme-icons-container {
    position: absolute;
    top: 17px;
    right: 1.5%;

    font-size: 18px;
    background-color: var(--light-bg);
    color: var(--dark-text);
    border-radius: 50%;
}

.moon-icon {
    cursor: pointer;
    padding: 4px 8px 2px;
}

.sun-icon {
    cursor: pointer;
    font-size: 16px;
    padding: 5px 7px 3px;
}


/* Media Queries */
@media screen and (max-width: 992px) {
    #navbar {
        flex-direction: column;
        justify-content: flex-start;

        height: 0;
        width: 100%;
        box-shadow: none;
        transition: 0.4s;
    }

    .brand-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: 10px 0;
    }

    .menu-icon {
        display: block;
        color: var(--main-color);
        cursor: pointer;
        font-size: var(--icon-size);
    }

    .search-links-container {
        position: relative;

        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: var(--light-bg);
        height: 0;
        padding: 0;
        width: 100%;
        transition: 0.5s;
    }

    #navbar .cont-shown {
        height: 100%;
        padding: 20px;
    }

    .d-none {
        display: none;
    }

    .search {
       width: 100%;
       text-align: center;
    }

    .search > div {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-ul {
        flex-direction: column;
    }

    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;

        display: block;
        color: var(--main-color);
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }

    .nav-ul li:not(:last-child) {
        margin-right: 0;
        padding: 5px;
    }

    .nav-ul .nav-link {
        color: var(--nav-dark-text);
    }

    .theme-icons-container {
        top: 13px;
        right: 15%;    
    }

    .moon-icon {
        cursor: pointer;
        font-size: 16px;
        padding: 2.5px 8px 2px;
    }
    
    .sun-icon {
        cursor: pointer;
        font-size: 16px;
        padding: 5px 7px 3px;
    }
}

@media screen and (max-width: 768px) {
    .search > div {
        width: 60%;
    }

    .nav-ul .nav-link {
        font-size: 14px;
    }

    .search input {
        padding: 7px 15px;
    }

    .search button {
        right: 3px;
        top: 3px;
    
        padding: 4px 14px;
    }

    .theme-icons-container {
        top: 13px;

        font-size: var(--icon-size);
    }
}

@media screen and (max-width: 576px) {
    .search > div {
        width: 80%;
    }

    .theme-icons-container {
        top: 13px;
        right: 13%;

        font-size: var(--icon-size);
    }
}