:root {
  --main-color: #EB1D36;
  --gradient: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);

  --main-padding: 0 5%;

  --dark-text: rgb(0, 0, 0);
  --dark-text-sec: rgb(100, 100, 100);

  --light-text: rgb(255, 255, 255);
  --light-text-sec: rgb(200, 200, 200);

  --light-border: rgb(200, 200, 200);
  --dark-border: rgb(100, 100, 100);

  --header-bg: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;

  height: 250vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

.btn-gradient {
  background-image: var(--gradient);
  background-size: 200% auto;
  color: var(--light-text);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-sm {
  padding: 7px 15px;
  font-size: 12px;
}

.btn-gradient:hover {
  background-position: right center;
}