:root {
  --main-color: #EB1D36;
  --main-bg: #f7f9fa;
  --light-bg: #fff;
  /* --gradient: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%); */
  --gradient: linear-gradient(to right, #548dd3 0%, #50c9c7 51%, #548dd3 100%);


  --main-padding: 0 5%;

  --dark-text: rgb(0, 0, 0);
  --dark-text-sec: rgb(100, 100, 100);

  --light-text: rgb(255, 255, 255);
  --light-text-sec: rgb(200, 200, 200);

  --light-border: rgba(200, 200, 200, 0.4);
  --dark-border: rgba(100, 100, 100, 0.4);

  --main-border-radius: 10px;

  --heading-font-size: 35px;
  --font-size-lg: 16px;
  --font-size-sm: 15px;

  --main-heading-mb: 35px;

  --header-bg: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.main-div {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

:root .section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}


/* Buttons */
.btn-regular {
  background-color: var(--main-color);
  color: var(--light-text);
  padding: 8px 23px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-regular:hover {
  border: 2px solid var(--main-color);
  background-color: var(--light-bg);
  color: var(--dark-text);
}

.btn-gradient {
  background-image: var(--gradient);
  background-size: 200% auto;
  color: var(--light-text);
  padding: 8px 23px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-gradient:hover {
  background-position: right center;
}

.btn-link {
  text-decoration: none;
  padding: 6.5px 23px;
  font-size: 14px;
}

.btn-sm {
  padding: 7px 15px;
  font-size: 12px;
}

.btn-lg {
  padding: 13px 35px;
  font-size: 14px;
}


/* Form */
.input-label {
  display: block;
  margin-bottom: 5px;
  font-size: var(--font-size-sm);
}

.input-field, .select-field {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid var(--dark-border);
  color: var(--dark-text-sec);
}

.input-field[type=time] {
  padding: 6.5px 10px;
  border-radius: 5px;
  border: 1px solid var(--dark-border);
}

.input-field:focus, .select-field:focus {
  border: 1px solid transparent;
  outline: 1px solid var(--main-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.select-field option {
  font-size: var(--font-size-sm);
}



/* Media Queries */
@media screen and (min-width: 1400px) {
  :root {
    --main-padding: 0 10%;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --main-padding: 0 10%;
    --main-heading-mb: 30px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --heading-font-size: 30px;
    --font-size-lg: 15px;
    --font-size-sm: 14px;
    --btn-font-size: 12px;
    --main-heading-mb: 25px;
  }

  :root .section-padding {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  /* Buttons */
  .btn-gradient {
    padding: 7px 15px;
    font-size: 12.5px;
  }

  .btn-regular {
    padding: 7px 15px;
    font-size: 12.5px;
  }

  .btn-link {
    padding: 5.5px 13px;
    font-size: 12.5px;
  }


  /* Form */
  .input-field, .select-field {
    padding: 6px 10px;
  }
  
  .input-field[type=time] {
    padding: 4.5px 10px;
  }  
}

@media screen and (max-width: 576px) {
  :root {
    --main-padding: 0 5%;
  }

  :root .section-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}